$rft-red: #F28080;
$rft-blue: #00ACB4;
$rft-light-blue: #9BD6CD;
$rft-yellow: #FBE289;
$rft-black: #212731;
$rft-dark-gray: #393E46;
//$rft-gray: #fff;
//$rft-light-gray: #fff;
$rft-lightest-gray: #eee;
$rft-white: #fff;

$rft-dark-text-color: $rft-lightest-gray;
$rft-light-text-color: $rft-black;